<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= progName %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="testDiv">
        <%= progName %>
    </div>

    <script src="/javascripts/Test.js"></script>

</body>
</html>